.my-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    width: 20%;
    padding: 20px;
    background-color:  #b5838d;
    height: 100vh;
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }