@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';
@import 'navbar';
@import 'activitiesList';

body {
  background-color: $favColor;
}

.sign-in-btn {
  margin-top: 30px;
  border: none;
  border-radius: 8px;
  padding: 8px;
  opacity: .8;
}

.h1 {
  display: flex;
  justify-self: center;
}


.btn-primary {
  display: flex;
  flex-direction: row;
  align-self: center;
}
.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links a {
color: #3d405b;
}

#root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.body {
  padding: 20px;
  flex-grow: 1;

}

.card {
  max-width: 400px;
}